<ul class="list-group">
    <li class="list-group-item" ng-repeat="detail in details track by $index"><span class="badge">{{detail["tags"]}}</span><a ng-href="#/detail/{{detail['index']}}?tags=this_is_{{detail['tags']}}">detail {{detail["index"]}}</a></li>
</ul>
