<h2>Play Detail</h2>
<div class="col-md-6">
<table class="table table-hover">
    <tr>
        <td>Player</td>
        <td>{{obj.PlayerName}}</td>
    </tr>
    <tr>
        <td>Score</td>
        <td>{{obj.Score}}</td>
    </tr>
</table>
</div>
