<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Working with JQuery Component</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
    <style>
        my-flot {
            display: block;
            width:600px;
            height:400px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Working with JQuery Component(flot)</h1>
        <div ng-controller="PlotController">
            <div>
                <input type="number" ng-model="a"></input>
                <input type="number" ng-model="b"></input>
                <input type="number" ng-model="c"></input>
                <input type="number" ng-model="d"></input>
            </div>
            <div>
                <my-flot ng-model="chart_data"></my-flot>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery/jquery.js"></script>
    <script type="text/javascript" src="js/jquery/jquery.flot.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/angular-resource.js"></script>
    <script type="text/javascript" src="js/mycontroller.js"></script>
    <script type="text/javascript" src="js/mydirective.js"></script>
    <script type="text/javascript" src="js/myapp.js"></script>
</body>
</html>
