<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Data Binding</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <h1>Data Binding Demo</h1>
        <div id="test" ng-controller="MyController">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Example</h2>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"><input type="number" ng-model="a"/></div>
                            <div class="col-md-1">+</div>
                            <div class="col-md-2"><input type="number" ng-model="b"/></div>
                            <div class="col-md-1">=</div>
                            <div class="col-md-1">{{a+b}}</div>
                            <div class="col-md-2">
                                <button ng-click="set_a_b(4,5)">set a & b</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Example</h2>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <button ng-click="add_to_arr()"/>add item</button>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="delete_from_arr(0)"/>delete item</button>
                            </div>
                            <div class="col-md-4">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="el in arr track by $index">{{el}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    <div>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/mycontroller.js"></script>
</body>
</html>
