<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi App</title>
    <style>
        my-flot {
            display: block;
            width:400px;
            height:200px;
        }
    </style>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <h1>Multi App</h1>
        <div ng-app="app-1" class="panel panel-default">
            <h2>Routing Demo</h2>
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="#/list">list</a></li>
                <li><a href="#/detail/1">detail_1</a></li>
                <li><a href="#/detail/100?tags=this_is_the_tags">detail_100_with_tags</a></li>
                <li><a href="#/detail/10000">detail_10000</a></li>
                <li><a href="#/other">other</a></li>
            </ul>

            <div ng-view></div>
        </div>
        <hr/>
        <div ng-app="app-2" class="panel panel-default">
            <h2>Working with JQuery Component(flot)</h2>
            <div ng-controller="PlotController">
                <div>
                    <input type="number" ng-model="a"></input>
                    <input type="number" ng-model="b"></input>
                    <input type="number" ng-model="c"></input>
                    <input type="number" ng-model="d"></input>
                </div>
                <my-flot ng-model="chart_data"></my-flot>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="assets/jquery/jquery.js"></script>
    <script type="text/javascript" src="assets/jquery/jquery.flot.js"></script>
    <script type="text/javascript" src="assets/angular.js"></script>
    <script type="text/javascript" src="assets/angular-route.js"></script>
    <script type="text/javascript" src="assets/angular-resource.js"></script>

    <script type="text/javascript" src="app_1/myapp.js"></script>
    <script type="text/javascript" src="app_1/mycontroller.js"></script>

    <script type="text/javascript" src="app_2/mycontroller.js"></script>
    <script type="text/javascript" src="app_2/mydirective.js"></script>
    <script type="text/javascript" src="app_2/myapp.js"></script>
    <script type="text/javascript">
       angular.element(document).ready(function() {
         angular.bootstrap(document, ['app-1', 'app-2']);
       });
    </script>
</body>
</html>
